@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "file-icons";
@mixin background {
  border-radius: 6px;
  background: $color-background;
  box-shadow:  20px 20px 60px $color-gradient,
  -20px -20px 60px $color-gradient3;
}

$width: 340px;
$bezier: cubic-bezier(.74,.11,.39,.86);
$padding: 20px;
$color-background: #efb42c;
$color-border: lighten($color-background, 40);
$color-active: desaturate(darken($color-background, 20), 20);
$color-gradient: desaturate(darken($color-background, 10), 20);
$color-gradient2: lighten($color-background, 10);
$color-gradient3: lighten($color-background, 5);
$color-text: #383838;
$speed: .4s;

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  background: $color-background;
  color: $color-text;
}

nfs-tree {
  height: 100%;
  width: $width;
  display: flex;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
  justify-content: flex-end;
  border-radius: 12px;
  @include background;

  .select-folder {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all $speed $bezier, opacity .1s $bezier;
    z-index: 3;

    svg {
      fill: $color-active;
      transition: all $speed $bezier;
    }

    &:hover {
      background-color: $color-active;

      svg {
        fill: $color-background;
      }
    }
  }

  &[handle="filled"] {
    .select-folder {
      height: 40px;
      width: 40px;
      opacity: 0;
      transform: translate(-8px, 17px);
      border-radius: 50%;
      pointer-events: none;

      svg {
        transform: translateY(4px);
        width: 22px;
        height: 20px;
      }
    }
  }

  &[handle="filled"][data-depth="1"] .select-folder {
    opacity: 1;
    pointer-events: auto;
    transition: all $speed $bezier;
    transform: translate(-8px, 15px);
  }

  .icon {
    font-style: normal;
    margin-right: 3px;
    width: 22px;
    display: inline-block;
  }

  .inner {
    display: flex;
    justify-content: flex-end;
    transition: margin $speed $bezier;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(white, .2);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba($color-gradient, 0);
    transition: all $speed $bezier;
  }

  .list {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    width: $width;
    animation: appear $speed $bezier;

    &.remove {
      animation: disappear $speed $bezier;
    }

    .item:nth-child(2) {
      margin-top: 30px;
    }

    .item:last-child {
      margin-bottom: 20px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba($color-gradient, 1);
      }
    }
  }

  .back {
    color: $color-active;
    position: sticky;
    top: 20px;
    padding-bottom: 15px;
    cursor: default;
    background: $color-background;
    list-style: none;
    font-style: italic;
    width: $width;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    transition: background-color $speed $bezier, color $speed $bezier;
    border-bottom: 1px solid rgba($color-active, .2);
    z-index: 2;

    &:after {
      content: '';
      display: block;
      background-color: $color-background;
      height: 20px;
      width: 100%;
      position: absolute;
      bottom: 100%;
      left: 0;
    }

    .title {
      display: flex;
      padding: 0 20px;
      flex: 1 1 auto;
      align-items: center;
      justify-content: flex-start;
    }

    .arrow {
      font-size: 8px;
      height: 30px;
      line-height: 30px;
      width: 30px;
      cursor: pointer;
      font-style: normal;
      margin-left: auto;
      text-align: center;
      margin-right: -10px;
      transition: background-color $speed $bezier, color $speed $bezier;
      border-radius: 50%;

      &:hover {
        background-color: $color-active;
        color: white;
      }
    }
  }

  .item {
    list-style: none;
    width: $width;
    cursor: pointer;
    transition: background-color $speed $bezier, color $speed $bezier;

    svg {
      width: 17px;
      margin-right: 8px;
      fill: $color-text;
      transition: fill $speed $bezier;
      position: relative;
    }

    .title {
      display: flex;
      white-space: normal;
      max-width: 100%;
      padding: 8px 20px;
      align-items: center;
      justify-content: flex-start;
    }

    .inner-title {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .arrow {
      font-size: 8px;
      margin-left: auto;
    }

    &:hover,
    &.active {
      background-color: $color-active;
      color: white;

      svg {
        fill: white;
      }
    }
  }

}

@keyframes appear {
  0% { width: 0; opacity: 0; }
  100% { width: $width; ; opacity: 1; }
}

@keyframes disappear {
  0% { width: $width; opacity: 1; }
  100% { width: 0; opacity: 0; }
}